.hero{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #333;
    color: #ccc;
}

.hero-content h1{
    font-size: 3rem;
}
.hero-content p{
    margin-top: 1rem;
}

@media screen and (max-width:600px) {
    .hero-content{
        padding: 1rem;
    }
    .hero-content h1{
        font-size: 2rem;
    }
    .hero-content p{
        font-size: 14px;
    }
}