.month-banner{
    height: 35vh;
    width: 100%;
    text-align: center;
    background-color: #333;
    color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.month-banner-content p{
    font-size: 14px;
}
.month-report{
    padding: 1rem;
}

.month-report-box{
    margin: 1rem 0;
}

.month-report-box ul{
    padding: 1rem;
    font-size: 14px;
}
.month-report-box p{
    padding: 1rem 0;
    font-size: 14px;
}


.month-action{
    text-align: center;
    padding: 1rem;
}

.month-action button{
    padding: 1rem 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #333;
    color: #ddd;
    border-radius: 50px;
    transition: all .5s ease;
}

.month-action button:hover{
    background-color: #444;
}