.month-banner{
    height: 35vh;
    width: 100%;
    text-align: center;
    background-color: #333;
    color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.month-banner-content p{
    font-size: 14px;
}
.month-report{
    padding: 1rem;
}

.month-report-box{
    margin: 1rem 0;
}

.month-report-box ul{
    padding: 1rem;
    font-size: 14px;
}
.month-report-box p{
    padding: 1rem 0;
    font-size: 14px;
}