body {
    background-color: #f0f0f0;
    color: #444;
}

header {
    padding: 1rem;
}

header span {
    background-color: #444;
    color: #ddd;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}